.Rproj.user
.Rhistory
.RData
*.xml
*temp*
!*template*
*.BAK
*.GML
*.db
*.zip
*desktop.ini
RD_*
~$*
**/*_cache
._~$*
._*
.xxx
.idea
india_REV_data
india_REV_data_to_share
processed_results
scripts/.Rapp.history
scripts/*.log
scripts/archive