.Rproj.user
.Rhistory
.RData
*/*.html
*.xml
*temp*
!*template*
*.BAK
*.GML
*.db
*.zip
**/plexos_models_testing
**/aedev
**/AEarchive
*ae_ignore*
*desktop.ini
RD_*
**/Load_profiles/POSOCO
~$*
Process_db_and_solns/MAGMA_scripts/gen.region.zone.mapping.csv
Process_db_and_solns/MAGMA_scripts/gen.type.mapping.csv
Process_db_and_solns/MAGMA_scripts/input_for_MAGMA.csv
**/*_cache
**/*.png
**/*.html
